<div class="aboutme container">
  <div class="row">
    <div class="col-md-3">
      <hr>
    </div>
    <div class="col-md-6 col-12">
      <h1>{{"aboutme.fewwords" | translate}}</h1>
    </div>
    <div class="col-md-3">
      <hr>
    </div>
  </div>
  <img id="profilPic" src="assets/img/portrait.png">
  <h4 class="subtitle text-center">{{"aboutme.iam" | translate}}</h4>
</div>
<div class="row mt-4 mytraits">
  <div class="col-12 col-md-4">
    <img class="thumbnail" src="assets/img/floristThumb.png" alt="">
    <h5 class="text-center">{{"aboutme.florist.title" | translate}}</h5>
    <p class="text-center">{{"aboutme.florist.subtitle" | translate}}</p>
  </div>
  <div class="col-12 col-md-4">
    <img class="thumbnail" src="assets/img/germanThumb.png" alt="">
    <h5 class="text-center">{{"aboutme.german.title" | translate}}</h5>
    <p class="text-center">{{"aboutme.german.subtitle" | translate}}</p>
  </div>
  <div class="col-12 col-md-4">
    <img class="thumbnail" src="assets/img/adventurerThumb.png" alt="">
    <h5 class="text-center">{{"aboutme.adventurer.title" | translate}}</h5>
    <p class="text-center">{{"aboutme.adventurer.subtitle" | translate}}</p>
  </div>

  <div id="creation">
    <div class="creationTitle" id="creationTitleSS"><h5 class="subtitle">{{"aboutme.creation" | translate}}</h5></div>
    <div class="creationTitle" id="creationTitle"><h5 class="subtitle">{{"aboutme.creation" | translate}}</h5></div>
    <div id="creationImg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
      <img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/740/740/608686fbb8e4d_FPagar1.jpg">
    </div>
  </div>
</div>

