h1 {
  text-align: center;
  text-transform: capitalize;
}

.aboutme {
  position: relative;
  margin-top: 30px;
}

#profilPic {
  z-index: -1;
  max-width: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.subtitle {
  font-family: Calloveya, serif !important;
  font-size: 2em;
}

.mytraits {
  padding: 10px !important;
  padding-bottom: 200px !important;
  position: relative;
}

.thumbnail {
  z-index: -1;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

#creation {
  display: inline-flex;
  position: absolute;
  left: 50px;
  bottom: -200px;
}

#creationTitle {
  width: 300px;
  height: 400px;
  border-radius: 180px;
  background-color: #a4b2a3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.creationTitle {
  h5 {
    text-align: center;
    padding: 5px;
    font-size: 2.5em !important;
  }
}

#creationTitleSS {
  display: none;
  width: 100vw;
}

#creationImg {
  margin-left: 20px;
  display: inline-flex;
  overflow-x: scroll !important;
  width: 800px;

  img {
    border-radius: 180px;
    align-self: center;
    margin: 10px;
    width: auto;
    max-height: 300px;
  }
}


@media (max-width: 768px) {
  #creationTitle {
    display: none;
  }

  #creationTitleSS {
    display: block;
  }

  #creation {
    display: block;
    width: 95vw !important;
    left: 2.5vw;
  }
}