<header class="border-bottom-0" id="header">
<h1>Framboise Louise</h1>
<ul style="display: none">
  <mat-button-toggle-group
    *ngIf="canChangeLanguage"
    #group="matButtonToggleGroup"
    (change)="changeLanguage($event)"
    value="{{ currentLanguage }}">
    <mat-button-toggle value="fr" aria-label="français">
      <span class="fi fi-fr"></span>
    </mat-button-toggle>
    <mat-button-toggle value="en" aria-label="england">
      <span class="fi fi-gb"></span>
    </mat-button-toggle>
    <mat-button-toggle value="de" aria-label="deutsch">
      <span class="fi fi-de"></span>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <li>
    <button
      class="btn"
      (click)="canChangeLanguage = !canChangeLanguage">
      <i class="bi bi-translate"></i>
    </button>
  </li>
</ul>

</header>
