

*, *:after, *:before {
  box-sizing: border-box;
}

header {
  z-index: 1;
  position: fixed;
  color: white;
  width: 100%;
  background-color: rgb(164, 178, 163);
  background-image: url("/assets/img/noise.svg");
  display: inline-flex;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.5s;
  h1 {
    font-size: 1.7em;
    margin: 10px;
    font-family: Agraham, serif !important;
  }
}

header.header-scrolled {
  background-color: rgb(164, 178, 163, 0.4);
}

ul {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  font-size: 1.2em;

  li, .link {
    display: inline-block;
  }

}

li {
  list-style: none;
  margin-left: .75em;
  margin-right: .75em;

  a {
    color: white;
  }

  &:hover {
    a:hover {
      box-shadow: 0 2px 0 0 currentcolor;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: .25s ease;
}

mat-button-toggle-group {
  position: absolute;
  top: 47px;
  left: -95px;
}

button {
  color: white;
}

button#menu {
  display: none;
}

@media (max-width: 768px){
  button#menu { display: block; }

  .link { display: none !important; }
}
