
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$framboiselouise-primary: mat.define-palette(mat.$indigo-palette);
$framboiselouise-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$framboiselouise-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$framboiselouise-theme: mat.define-light-theme((
  color: (
    primary: $framboiselouise-primary,
    accent: $framboiselouise-accent,
    warn: $framboiselouise-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($framboiselouise-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@font-face {
  font-family: Calloveya;
  src: url("./assets/font/Calloveya.otf");
}

@font-face {
  font-family: Agraham;
  src: url("./assets/font/Agraham.otf");
}

@font-face {
  font-family: Ovo;
  src: url("./assets/font/Ovo.ttf");
}

* {
  overflow-x: clip !important;
  --background-color: #1B262E;
  --main-color: #a4b2a3;
  --text-color: #ececec;
}
html, body { height: 100%; }
body {
  margin: 0;
  color: var(--text-color) !important;
  font-family: Ovo, serif !important;
  background-color: var(--background-color) !important;
  background-image: url("/assets/img/noise.svg") !important;
}

a {
  color: var(--main-color);
}

h1 {
  font-family: Calloveya, serif !important;
}

h5 {
  font-family: Agraham, Serif !important;
}
