<app-nav></app-nav>
<div style="padding-top: 100px" class="row description">
  <div class="col-xl-2 col-sm-1"></div>
  <div class="col-xl-8 col-sm-9 col-12">
    <h1>
      <span>{{"home.description1" | translate}}</span>
      <br>
      <span style="margin-left: 50px">{{"home.description2" | translate}}</span>
      <br>
      <span style="margin-left: 100px">{{"home.description3" | translate}}</span>
    </h1>
  </div>
  <div class="col-xl-2 col-sm-1"></div>
</div>
<app-aboutme></app-aboutme>
<app-florist></app-florist>
