h1 {
  line-height:30px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h1 > span {
  color: white;
  font-family: Calloveya, Serif;
  font-size: 2.3em;
  height: 30px;
}

br {
  display: block;
  margin: 10px 0;
}

.description {
  margin: 0;
  width: 100%;
  background-image: url("/assets/img/titlebg.jpeg");
  background-size: cover;
  background-position: center;
}
